{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EyeC consulting official site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/main/images/logo.jpg">
    <link rel="stylesheet" href="/static/main/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/main/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/main/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/main/css/aos.css">
    <link rel="stylesheet" href="/static/main/css/style.css">

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div id="loader" >
        <!--Image-->
            <img src="/static/main/images/loader.gif" class="img-fluid" alt="">
     </div>

  <div class="site-wrap"  id="home">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
              <img src="/static/main/images/logo.jpg" width="50px" height = "50px" alt="">
              <a   class="text-black"><span class="text-success">EyeC</span>-Consulting</a>
            </div>

            <div class="col-12">
              <nav class="site-navigation text-center " role="navigation">

                <ul class="site-menu">
                <li><a href="#home" class="nav-link">Home</a></li>
                <li><a href="#services" class="nav-link">Services</a></li>
                <li><a href="#about-section" class="nav-link">About Us</a></li>
                <!--<li><a href="#team-section" class="nav-link">Doctors</a></li>
                <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                <li><a href="#blog-section" class="nav-link">Blog</a></li>-->
                <li><a href="#contact-us" class="nav-link">Contact</a></li>
              </ul>
              </nav>

            </div>

          <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>


    <div class="site-section-cover img-bg-section" style="background-image: url('/static/main/images/theme.png'); " data-aos="fade">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4">

            <div class="box-shadow-content">
              <div class="block-heading-1">
                <h1 class="mb-4 text-success" data-aos="fade-up" data-aos-delay="100">Sight solutions</h1>
              </div>
              <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Making a global cliche' of IT come alive, bringing people and technology closer together. Eliminating the bridge between them through thorough observation, market research and key analysis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section block-feature-1-wrap" id="services">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="block-heading-1">
              <h3 class = "text-success">IT Services</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
            <div class="block-feature-1">
              <h2 class="text-black text-center">Software Testing</h2>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/static/main/images/testing.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">We ensure that you deliver a defect/bug-free software application to production.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
          <div class="block-feature-1">
            <h2 class="text-black text-center">Desktop Applications</h2>
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/static/main/images/desktop.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">We develop desktop applications that meet your company's standards at no hussles.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
        <div class="block-feature-1">
          <h2 class="text-black text-center">Mobile Applications</h2>
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/static/main/images/android.png" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">We develop mobile applications (Android/IOS) to help make accessibility issues a thing of the past.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
        <div class="block-feature-1">
          <h2 class="text-black text-center">Web Applications</h2>
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/static/main/images/web.jpg" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">We develop beautiful responsive web applications that will help improve the image of your brand.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
        <div class="block-feature-1">
          <h2 class="text-black text-center">Consulting</h2>
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/static/main/images/consulting.jpg" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">We offer advices, recommendations, tips on how things should be done, we are very hands on to say the least.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
        <div class="block-feature-1">
          <h2 class="text-black text-center">Hardware Sales</h2>
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/static/main/images/hardwares.png" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">From your needs and demands we also go out of our ways to find you the best hardware that will meet your requirements.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      </div>
        </div>
      </div>
    </div>


    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="block-heading-1">
              <h3 class = "text-success">An Overview</h3>
            </div>
          </div>
        </div>
        <div class="block-team-member-1 text-center rounded">
          <div class="row ">
              <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                <div class="block-counter-1">
                  <div class="block-team-member-1 text-center rounded gradient-bg-1">
                    <h3 class="font-size-20 text-black">Trading</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3" style="color:white;">Year of Serving</span>
                    <hr>
                    <span class="number"><span data-number="2">0</span>+</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 col-lg-0 col-lg-3 ">
                <div class="block-counter-1">
                  <div class="block-team-member-1 text-center rounded gradient-bg-0">
                    <h3 class="font-size-20 text-black">Service</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Year of Experience</span>
                    <hr>
                    <span class="number"><span data-number="4">0</span>+</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                <div class="block-counter-1">
                  <div class="block-team-member-1 text-center rounded  gradient-bg-1">
                    <h3 class="font-size-20 text-black">Projects</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3" style="color:white;">No. of Deliverables</span>
                    <hr>
                    <span class="number"><span data-number="10">0</span>+</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 col-lg-0 col-lg-3 ">
                <div class="block-counter-1">
                  <div class="block-team-member-1 text-center rounded gradient-bg-0">
                    <h3 class="font-size-20 text-black">Customers</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">No. of happy clients</span>
                    <hr>
                    <span class="number"><span data-number="30">0</span>+</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="site-section bg-light" id="contact-us">
      <div class="container">
        <div class="row">
          <div class="row mb-5">
            <div class="col-12">
              <div class="block-heading-1">
                <h3 class = "text-success">Leave us a message</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5 ">
            <form action="{% url 'account:main' %}#contact-us" name="Form" method="POST"><!-- onsubmit="return validateForm()">-->
              {% csrf_token %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags}}"  id = "successMessage" role="alert">
                  {{message}}
                </div>
              {% endfor %}
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" border-color = "red"name="firstname" id="firstname" placeholder="First name" required>
                  <div class="alert alert-danger" type="hidden" id = "firstnameMessage" style="display:none;" role="alert">
                    name field is required
                  </div>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name" required>
                  <div class="alert alert-danger" type="hidden" id = "lastnameMessage" style="display:none;" role="alert">
                    surname field is required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email address" required>
                  <div class="alert alert-danger" type="hidden" id = "emailMessage" style="display:none;" role="alert">
                    email field is required
                  </div>
                  <div class="alert alert-danger"  type="hidden"  id = "dangerMessage" style="display:none;" role="alert">
                    invalid email address
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" name="message" id="message" placeholder="Write your message." cols="30" rows="10" required></textarea>
                  <div class="alert alert-danger" type="hidden" id = "msgMessage" style="display:none;" role="alert">
                    message field is required
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <script src='https://www.google.com/recaptcha/api.js'></script>
                  <div class="g-recaptcha" data-callback="captcha" data-sitekey="6LcmZZ4UAAAAAObvmGgWUwoubMfCLN1XAfH5TUg4" required></div>
                  <br>
                  <input onclick="myFunction()" type="submit" class="btn btn-block btn-success text-white py-3 px-5" value="Send Message" id="submitBtn" disabled>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 ml-auto">
              <h2 class="text-black">Need our services?</h2>
              <p>Kindly feel free to contact us should you be interested in what we have to offer, submit your query for quotes, hardware, services, or an idea you think we'd be best suited for, one of our representative will contact you. See a summary of our <a href="#services">services</a> should you have missed them.</p>
            </div>
        </div>
      </div>
    </div>


    <!-- Footer -->
  <footer class="page-footer font-small mdb-color cyan darken-3 pt-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!--corousel item 1-->
        <div class="carousel-item active ">

        <!-- Footer Elements -->
        <div class="container">

          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-2 col-md-12 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <div class="block-team-member-1 text-center rounded">
                  <img src="/static/main/images/kabelo.jpg" class="img-fluid" alt="">
                  <a href="">
                    <div class="mask rgba-white-light"></div>
                  </a>
              </div>
            </div>
          </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <div class="block-team-member-1 text-center rounded">
                  <img src="/static/main/images/bafokeng.png" class="img-fluid" alt="">
                  <a href="">
                    <div class="mask rgba-white-light"></div>
                  </a>
                </div>
              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <div class="block-team-member-1 text-center rounded">
                  <img src="/static/main/images/createvalue.png" class="img-fluid" alt="">
                  <a href="">
                    <div class="mask rgba-white-light"></div>
                  </a>
                </div>
              </div>

            </div>

            <!--Grid column-->
          </div>
          <!--Grid row-->

        </div>
        </div>
      </div>
      </div>
        <!--corousel item 2
        <div class="carousel-item">
          <div class="container">
              <!--Grid row-->
              <!--<div class="row">
          </div>
      </div>
    </div>-->
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-secondary py-3 gradient-bg-0">© 2019 Copyright:
      <a href="#about-section"> EyeC Consulting</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </div>

  <script src="/static/main/js/jquery-3.3.1.min.js"></script>
  <script src="/static/main/js/jquery-ui.js"></script>
  <script src="/static/main/js/popper.min.js"></script>
  <script src="/static/main/js/bootstrap.min.js"></script>
  <script src="/static/main/js/owl.carousel.min.js"></script>
  <script src="/static/main/js/jquery.countdown.min.js"></script>
  <script src="/static/main/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/main/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/main/js/jquery.sticky.js"></script>
  <script src="/static/main/js/jquery.waypoints.min.js"></script>
  <script src="/static/main/js/jquery.animateNumber.min.js"></script>
  <script src="/static/main/js/aos.js"></script>
  <script src="/static/main/js/main.js"></script>
  <script type="text/javascript">
  function captcha(){
    var response = grecaptcha.getResponse();
      if(response.length>0){
        $('#submitBtn').removeAttr('disabled');
        var timesRun = 0;
       var interval = setInterval(function(){
         timesRun += 1;
           if(timesRun === 1){
             $('#submitBtn').attr('disabled','disabled');
             grecaptcha.reset();
             clearInterval(interval);
         }
       }, 60000);
  }
}
  </script>

  <script type="text/javascript">
    function validateForm()
    {
        var firstname=document.forms["Form"]["firstname"].value;
        var lastname=document.forms["Form"]["lastname"].value;
        var email=document.forms["Form"]["email"].value;
        var message=document.forms["Form"]["message"].value;
        if (firstname==null && firstname=="",lastname==null && lastname=="",email==null && email=="",message==null && message=="")
        {
            alert("Enter all the required field");
                document.getElementById('firstname').onkeydown = function() {

            }
            return false;
        }
    }
</script>

<script type="text/javascript">
function myFunction() {
  var firstname=document.forms["Form"]["firstname"].value;
  var lastname=document.forms["Form"]["lastname"].value;
  var email=document.forms["Form"]["email"].value;
  var message=document.forms["Form"]["message"].value;
  $('#successMessage').hide();
  $('#dangerMessage').hide();
  //$('#loader').hide();
    if (firstname==null || firstname==""){
      $('#firstnameMessage').show();
    }else{
      $('#firstnameMessage').hide();
    }
    if (lastname==null || lastname==""){
      $('#lastnameMessage').show();
    }else{
      $('#lastnameMessage').hide();
    }
    if (email==null || email==""){
      $('#emailMessage').show();
    }else{
      $('#emailMessage').hide();
    }
    if (message==null || message==""){
      $('#msgMessage').show();
    }else{
      $('#msgMessage').hide();
    }
    //var re = /^(([^<>()[]\.,;:s@"]+(.[^<>()[]\.,;:s@"]+)*)|(".+"))@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}])|(([a-zA-Z-0-9]+.)+[a-zA-Z]{2,}))$/igm;
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (email!="" && !re.test(String(email).toLowerCase())){
      $('#dangerMessage').show();
      //$('#emailMessage').hide();
    }else{
      $('#dangerMessage').hide();
      if(firstname!=null || firstname!="" && lastname!=null || lastname!="" && email!=null || email!="" && message!=null || message!=""){
        $('#loader').show();
      }
    }
  }

</script>

  </body>
</html>
